{
  "$schema": "http://json.schemastore.org/prettierrc",
  "printWidth": 110,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "semi": false,
  "overrides": [
      {
          "files": "*.less",
          "options": { "singleQuote": false }
      },
      {
          "files": "*.yml",
          "options": { "tabWidth": 2 }
      },
      {
          "files": "package.json",
          "options": { "tabWidth": 2 }
      },
      {
          "files": "lerna.json",
          "options": { "tabWidth": 2 }
      },
      {
          "files": ".babelrc",
          "options": { "tabWidth": 2 }
      }
  ]
}
